<div class="work-container">
  <div class="matterhorn-container">
    <div class="container">
      <div class="main-caption">
        <h1>
          <b>Matterhorn</b>
        </h1>
        <p>
          Project management for multiple people and projects.
        </p>
        <a href="work/matterhorn" class="ghost-button">
          Read the case study
        </a>
      </div>
      <div class="image-container">
        <img src="<%= image_path 'matterhorn-dash.png' %>" alt="">
      </div>
    </div>
  </div>
  <div class="ubiquity-container">
    <div class="container">
      <div class="image-container">
        <img src="<%= image_path 'matterhorn-dash.png' %>" alt="">
      </div>
      <div class="main-caption">
        <h1>
          <b>Ubiquity Press</b>
        </h1>
        <p>
          A portal for open source publishing - on any device.
        </p>
        <a href="work/ubiquity" class="ghost-button">
          Read the case study
        </a>
      </div>
    </div>
  </div>
</div>