<div class="work-container">
  <div class="matterhorn-container">
    <div class="container">
      <div class="main-caption">
        <h1>
          Matterhorn
        </h1>
        <p>
          Project management for multiple people and projects.
        </p>
        <a href="work/matterhorn" class="ghost-button">
          Read the case study
        </a>
      </div>
      <div class="image-container">
        <img src="<%= image_path 'matterhorn-dash.png' %>" alt="">
      </div>
    </div>
  </div>
  <div class="ubiquity-container">  
    <div class="container">
      <div class="image-container">
        <img src="<%= image_path 'upress.svg' %>" alt="">
      </div>
      <div class="main-caption">
        <h1>
          Ubiquity Press
        </h1>
        <p>
          A portal for open source publishing - on any device.
        </p>
        <a href="work/ubiquity" class="ghost-button">
          Read the case study
        </a>
      </div>
    </div>
  </div>
  <div class="sfox-container">
    <div class="container">
      <div class="main-caption">
        <h1>
          Serious Fox
        </h1>
        <p>
          Branding a design service studio.
        </p>
        <a href="work/matterhorn" class="ghost-button">
          Read the case study
        </a>
      </div>
      <div class="image-container">
        <img src="<%= image_path 'matterhorn-dash.png' %>" alt="">
      </div>
    </div>
  </div>
  <div class="emr-container">
    <div class="container">
      <div class="image-container">
        <img src="<%= image_path 'matterhorn-dash.png' %>" alt="">
      </div>
      <div class="main-caption">
        <h1>
          Evolve My Retirement
        </h1>
        <p>
          Retirement planning - powered by genetic algorithms.
        </p>
        <a href="work/matterhorn" class="ghost-button">
          Read the case study
        </a>
      </div>
    </div>
  </div>
</div>
<div class="cards-container">
  <ul class="work-cards">
    <li class="metatrails">
      <a href="" class="caption">
        <h1>Metatrails</h1>
        <h2>
          Self-learning meets space adventure!
        </h2>
        <span class="ghost-button">
          Read More
        </span>
      </a>
    </li>
    <li class="tottenham">
      <a href="" class="caption">
        <h1>Tottenham Hotspur FC</h1>
        <h2>
          Consulting & Design
        </h2>
        <span class="ghost-button">
          Read More
        </span>
        <!-- CREDIT IMAGE https://www.flickr.com/photos/footysphere/8135543567/in/photolist-doUMEx-7JBG4r-9VcsKs-dcygb8-7JJMnp-7JJLZK-mypcvw-dckhc1-ecEGDp-jP2hs4-6JthcQ-8V1Vwc-7aGJfL-77Q9uX-8V576N-8V1YUa-8V1Uiz-8V1x42-8V1srT-643QeV-doUVAo-6ttVjZ-myoyWE-77Q9hZ-8V1QZg-edBXK3-otVaXo-orUT2W-8V582N-8V4Aqm-8V1GxP-74WhwN-569whN-8V1Sbi-8V4QGJ-8V4Y7Y-8V4PhE-bqzoBT-8V53xA-8V217k-cYfjz-8V1NuD-55bNSs-8V4xKA-ovGkj4-8V4UoN-8V4NaS-8V4Euo-8V1yZD-8V1xXB -->
      </a>
    </li>
    <li class="tech-city">
      <a href="" class="caption">
        <h1>Tech City UK</h1>
        <h2>
          Giving the government an online face
        </h2>
        <span class="ghost-button">
          Read More
        </span>
      </a>
    </li>
  </ul>
</div>