.work-container {
	padding-top: $navbar-height;
	height: 100%;
	.matterhorn-container, .sfox-container {
		min-height: 60%;
    @include media($min-max-width) {
      min-height: 50%;
    }
	}
  .main-caption {
    padding-top: $padding-xl*2;
  }
}

%left-text-container {
  @extend %clearing-block;
  position: relative;
  overflow: hidden;
  padding-top: $padding-xl;
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 50%;
    z-index: -1;
  }
  .main-caption {
    @include col(5,1,$big-tablet,8,2);

    p {
      padding-bottom: $padding-base;
    }
  }
  .image-container {
    margin-top: $padding-xl;
    margin-left: $padding-xl;
    margin-bottom: $padding-xl*2;
    padding-top: $padding-xl;
    position: relative;
    @include col(6,0,$big-tablet,8,2);
    @include omega();
  }
  .ghost-button {
    @include button($blue, $background, $blue, white);
  }
  .button {
    @include button($background, $blue, $blue, white);
  }
  @include media($big-tablet) {
    &:before {
      width: 100%;
      right: 0px;
    }
  }
  @include media($large-phone) {
    .image-container, .main-caption {
      @include simple-col(12,0);
    }
  }
}
%alt-right-container {
	@extend %clearing-block;
	position: relative;
	background: rgba($blue,0.6);
	z-index: 1;
	display: flex;
	align-items: stretch;
	.main-caption {
		@include col(6,0,$big-tablet,8,2);
		padding: $padding-xl $padding-xl 0 $padding-l;
		margin-top: $padding-xl*2;
		position: relative;
    @include media($large-phone) {
      @include simple-col(12,0);
    }
		h1, h2, p {
			color: white;
		}
	}
	.image-container {
		@include col(6,0,$big-tablet,8,2);
		display: block;
		position: relative;
		overflow: hidden;
		img {
			margin-bottom: -5px;
		}
		@include media($large-phone) {
      @include simple-col(12,0);
    }
    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      display: block;
      @include transition(all 0.3s ease-in-out);
      background: rgba(247, 215, 206, 0.4);
    }
    &:hover:after {
      background: rgba(247, 215, 206, 0);
    }
	}
	.ghost-button {
		@include button(white, lighten($blue,5%), white, $blue);
		margin-top: $padding-base;
		&:hover {
			background-color: white;
			border-color: white;
		}
	}
}

.matterhorn-container {
  @extend %left-text-container;
  &:before {
    background: image-url('goat.svg');
    background-size: 100%;
    background-position: 0% 200px;
    background-repeat: no-repeat;
  }
  .image-container {
  	padding-right: $padding-xl;
  }
}

.sfox-container {
	@extend %left-text-container;
	&:before {
    background: image-url('fox.svg');
    background-size: 100%;
    background-position: left 200px;
    background-repeat: no-repeat;
  }
}

.ubiquity-container, .ubiquity-journals-container, .emr-container {
	@extend %alt-right-container;
}

.ubiquity-container {
	background-color: $blue;
	.image-container:after {
		background-color: rgba($blue,0.3);
	}
	.ghost-button {
		@include button(white, $blue, white, $blue);
		&:hover {
			background-color: white;
			border-color: white;
		}
	}
}
.emr-container {
	background-color: $green;
	.image-container:after {
		background-color: rgba($green,0.3);
	}
	.ghost-button {
		@include button(white, $green, white, $green);
		&:hover {
			background-color: white;
			border-color: white;
		}
	}
}
.cards-container {
	@extend %clearing-block;
	padding: $padding-xl 0;
	.more-projects {
		text-align: center;
		padding: $padding-xl 0;
	}
	.work-cards {
		@include outer-container;
		padding: 0 $padding-l;
		> li {
			background: white;
			@include col(4,0,$tablet,10,1);
			height: 300px;
			position: relative;
			overflow: hidden;
			.caption {
				@include position(absolute, 0px 0px 0px 0px);
				background-color: rgba($blue,0.45);
				padding: $padding-xl*2 $padding-xl;
				h1,h2 {
					color: white;
				}
				h1 {
					padding-bottom: $padding-base;
					font-size: rem(48px);
				}
				h2 {
					font-size: rem(27px);
          visibility: hidden;
          opacity: 0;
          @include transition(opacity 0.3s ease-in-out);
				}
				@include transition(all 0.2s ease-in-out);
				.ghost-button {
					@include font($sans,rem(24px),$font-black,white);
					margin-top: $padding-base;
					display: block;
					visibility: hidden;
					opacity: 0;
					@include transition(opacity 0.3s ease-in-out);
					&:after {
						content: '...';
					}
				}
				&:hover {
					background-color: rgba($blue,0.85);
					.ghost-button, h2 {
						visibility: visible;
						opacity: 1;
					}
				}
			}
			&.tottenham {
				background: image-url('tottenham.jpg');
				background-size: cover;
			}
			&.tech-city {
				background: image-url('techcity.jpg');
				background-size: cover;
			}
			&.metatrails {
				background: image-url('metatrails.png');
				background-size: cover;
			}
      @include media($tablet) {
        margin-bottom: $padding-base;
      }
      @include media($large-phone) {
        @include simple-col(12,0);
      }
		}
	}
}