<div class="standard-styled-select">
  <select name="" id="">
    <option value="">A</option>
    <option value="">B</option>
    <option value="">C</option>
    <option value="">D</option>
  </select>
</div>