%display-padding {
  padding-top: rem(60px);
  padding-bottom: rem(60px);
}

.container {
  @include outer-container;
  h1,h2,h3,h4,h5 {
    padding-bottom: $padding-base/2;
  }

}

.display-selects {
  @include simple-col(6,3);
  @include omega();
  @extend %display-padding;
}

.padding {
  padding-bottom: $padding-base;
}

.code-block{
  @include span-columns(4);
  @include omega(3n);
  pre {
    background-color: $black;
    color: white;
    overflow: scroll;
  }
}