//Framework controllers
@import "framework/bourbon/bourbon";
@import "grid-settings"; //editable
@import "framework/neat/neat";

//globals
@import "styling/global/functions";
@import "styling/global/variables";
@import "styling/global/hard-reset";
@import "styling/global/mixins";
@import "styling/global/positioning-extenders";
@import "styling/global/body";
@import "styling/global/typography";
@import "styling/global/navigation";

//forms
@import "styling/objects/forms/form-variables";
@import "styling/objects/forms/inputs";
@import "styling/objects/forms/selects";
@import "styling/objects/buttons";

@import "styling/pages/home";
@import "styling/pages/work";


@import "display"