body {
  background: $background;
  &.noscroll {
  	height: 100%;
  	overflow: hidden;
  }
}
.content {
  margin: 2rem;
  @include background(linear-gradient(to bottom, $salmon 0%, $peach 100%));
  padding: 4rem 0;
}
.container {
  @include outer-container;
  padding: 0 4rem;
  @include media($large-phone) {
    padding: 0 $padding-l;
  }
}

.text {
  @include col(8,0,$tablet,12,0);
}