body {
  background: $background;
  &.noscroll {
  	height: 100%;
  	overflow: hidden;
  }
}
.content {
  margin: 2rem;
  background: $salmon;
  padding: 4rem 0;
}
.container {
  @include outer-container;
  @include media($large-phone) {
    padding: 0 $padding-l;
  }
}
