///modifies neat's default settings

@mixin padded-container {
  @include clearfix;
  max-width: $max-width;
  padding-left: $padding-base;
  padding-right: $padding-base;
  margin: {
    left: auto;
    right: auto;
  }
  @include media($ipad) {
    padding-left: $padding-base*2;
    padding-right: $padding-base*2;
  }
  @include media($tablet) {
    padding-left: $padding-base;
    padding-right: $padding-base;
  }
  @include media($phone) {
    padding-left: $padding-base/2;
    padding-right: $padding-base/2;
  }
}

@mixin col($col-no, $shift-no, $media, $drop-to, $shift-to) {
  @include span-columns($col-no);
  @include shift($shift-no);
  @include media($media) {
    @include span-columns($drop-to);
    @include shift($shift-to);
  }
}

@mixin simple-col($col-no, $shift-no) {
  @include span-columns($col-no);
  @include shift($shift-no);
}

///width height

@mixin wh($width: false, $height: false) {
  $width: unquote($width);
  @if $height != none {
    $height: unquote($height);
  }
  @if $height != false {
    width: #{$width};
    height: #{$height};
  }
  @else {
    width: #{$width};
    height: #{$width};
  }
}

@mixin font($family, $size, $weight, $color) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin link-styling($border, $font-size, $padding-size) {
  color: $blue;
  border-bottom: $border solid $blue;
  position: relative;
  background: rgba($yellow,0.7);
  @include transition(all 0.3s ease-in-out);
  &:after {
    @include transition(opacity 0.3s ease-in-out);
    border-top: ($font-size + $padding-size)/2.2 solid transparent;
    border-bottom: ($font-size + $padding-size)/2.2 solid transparent;
    border-left: ($font-size + $padding-size)/2.2 solid darken($salmon, 10%);
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    @include transform(translateX(100%));
    opacity: 0;
  }
  &:hover {
    background: darken($salmon, 10%);
    &:after {
      opacity: 1;
    }
  }
}

