$navbar-height: rem(55px);

header {
  position: relative;
  height: auto;
  padding: $padding-xl 0;
  
  .logo {
    background: $salmon image-url('logo.svg') no-repeat;
    background-size: auto 80%;
    background-position: 45% center;
    height: rem(80px);
    width: rem(80px);
    border-radius: 50%;
    display: block;
    margin-left: rem(80px);
    @include transition(all 1s ease-in-out);
    z-index: 99;
    &:hover {
      background-color: darken($salmon, 15%);
      @include transform(rotate(180deg));
    }
    @include media($large-phone) {
      left: $padding-l;
    }
  }
}