$navbar-height: rem(55px);

header {
  position: absolute;
  top: 0.5rem;
  
  .logo {
    background: rgba($yellow, 0.85) image-url('logo.svg') no-repeat;
    background-size: auto 80%;
    background-position: 45% center;
    height: rem(80px);
    width: rem(80px);
    display: block;
    margin-left: rem(80px);
    @include transition(all 1s ease-in-out);
    z-index: 99;
    &:hover {
      background-color: $yellow;
      @include transform(rotate(180deg));
    }
    @include media($large-phone) {
      left: $padding-l;
    }
  }
}

.main-nav {
  clear: both;
  width: 100%;
  display: block;
  h3 {
    padding-bottom: $padding-l;
    a {
      @include link-styling(0.3rem, 2.618rem, $padding-l)
    }
  }
}