$navbar-height: rem(55px);

header {
  position: fixed;
  background: rgba(255,255,255,0.95);
  z-index: 999;
  top: 0px;
  right: 0px;
  left: 0px;
  height: $navbar-height;
  border-bottom: 1px solid $background;
  .nav-button {
    display: none;
    @include media($large-phone) {
      display: block;
      position: absolute;
      cursor: pointer;
      top: $navbar-height/2 - rem(40px)/2;
      right: $padding-base;
      z-index: 999;
      li {
        display:block;
        width: rem(40px);
        height: rem(6px);
        margin-top: rem(6px);
        padding: 0;
        background: $salmon;
        border-radius: rem(6px);
        @include transition(all, 0.3s);
      }
      &:hover {
        li {
          background: darken($salmon, 10%);
        }
      }
      &.show {
        li {
          &.top {
            @include transform(translateY(200%) rotate(45deg));
          }
          &.bottom {
            @include transform(translateY(-200%) rotate(-45deg)); 
          }
          &.middle {
            opacity: 0;
          }
        }
      }
    }
  }
  .logo {
    background: lighten($salmon,10%) image-url('logo.svg') no-repeat;
    background-size: auto 80%;
    background-position: 45% center;
    height: rem(80px);
    width: rem(80px);
    border-radius: 50%;
    position: absolute;
    left: rem(80px);
    @include transition(all 1s ease-in-out);
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    &:hover {
      background-color: darken($salmon, 15%);
      @include transform(rotate(180deg));
    }
    &.show {
      opacity: 1;
      visibility: visible;
    }
    @include media($large-phone) {
      left: $padding-l;
    }
  }
  .bubble-nav {
    text-align: right;
    @include outer-container;
    padding-right: $padding-xl;

    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: $padding-l $padding-base;
        text-align: center;
        margin-left: $padding-s;
        @include font($sans,rem(14px),$semibold,$main-color);
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
        @include transition(all 0.2s ease-in-out);
        &:before, &:after {
          position: absolute;
          width: 5px;
          height: 5px;
          content: '';
          border-radius: 50%;
          background-color: darken($salmon,15%);
          display: block;
          opacity: 0;
          visibility: hidden;
          left: 50%;
          @include transition(all 0.3s ease-in-out);
        }
        &:before {
          top: $padding-l/2;
          @include transform(translate(-50%, -50%));
        }
        &:after {
          bottom: $padding-l/2;
          @include transform(translate(-50%, 50%));
        }
        &:hover {
          color: darken($salmon,15%);
          &:before, &:after {
            opacity: 1;
            visibility: visible;
          }
          &:before {
            @include transform(translate(-50%, 0%));
          }
          &:after {
            @include transform(translate(-50%, 0%));
          }
        }
      }
    }
    .social-row {
      display: inline-block;
      border-left: 1px solid $salmon;
      padding-left: $padding-base;
      a {
        font-size: rem(18px);
        color: $text-body-color;
        display: inline-block;
        padding: 0 $padding-xs;
        &:hover {
          color: darken($salmon, 10%);
        }
      }
    }
    @include media($large-phone) {
      position: fixed;
      left: 0px;
      right: 0px;
      height: 100%;
      top: $navbar-height;
      background-color: rgba(white, 0.95);
      border-top: 2px solid $salmon;
      padding: 0px;
      @include transition(all 0.2s ease-in-out);
      opacity: 0;
      visibility: hidden;
      &.show {
        opacity: 1;
        visibility: visible;
      }
      li {
        display: block;
        a {
          display: block;
          border-bottom: 1px dashed $salmon;
          font-size: rem(40px);
          font-weight: $bold;
          margin: 0px;
          &:hover {
            background: darken($salmon, 10%);
            color: white;
            &:before, &:after {
              opacity: 0;
            }
          }
        }
      }
      .social-row {
        display: block;
        padding: $padding-l;
        border: 0px;
        text-align: center;
        a {
          font-size: rem(40px);
          padding: 0px $padding-base;
        }
      }
    }
  }
}