html {
  font-size: 20px;
  @include media($small-screen) {
    font-size: 18px;
  }
  @include media($big-tablet) {
    font-size: 16px;
  }
  @include media($large-phone) {
    font-size: 14px;
  }
}

@import url(https://fonts.googleapis.com/css?family=Rubik);

$thin: 100;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$heavy: 800;
$font-black: 900;

$best-sans-fonts: 'helvetica neue', 'helvetica', 'Arial', sans-serif;

$sans: 'Rubik', $best-sans-fonts;

strong {
  font-weight: $semibold;
}
b {
  font-weight: $bold;
}
em {
  font-style: normal;
  background-color: rgba($yellow, 0.8);
  display: inline-block;
}
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

%white-fonts {
  h1,h2,h3,h4,h5,p {
    color: white;
  }
}
%link-styling {
  h1, h2, h3, h4, h5, h6, p {
    a {
      font-style: italic;
      color: $blue;
      border-bottom: 1px solid $blue;
    }
  }
}

h1, h2, h3, h4, h5, h6, p {
  a {
    color: $blue;
    border-bottom: 0.3rem solid $blue;
    @include transition(all 0.3s ease-in-out);
    position: relative;
  }
}


h4,h5 {
  font-family: $sans;
}

h1 {
  @include font($sans, 6.854rem,$bold,$blue);
  line-height: 0.85;
  padding-bottom: $padding-l;
}

h2 {
   @include font($sans,4.236rem,$bold,$blue);
   padding-bottom: $padding-xl;
}

h3 {
  @include font($sans,2.618rem,$bold,$blue);
}

blockquote {
  padding-bottom: $padding-xl;
  position: relative;
}

p {
  @include font($sans,1.618rem,$regular,$blue);
  line-height: 1.8;
  padding-bottom: $padding-base;
}


