body {
  background-color: $background;
}
.container {
  @include outer-container;
  @include media($large-phone) {
    padding: 0 $padding-l;
  }
}
.main-container {
  @include outer-container;
  background-color: $background;
  min-height: 100%;
}