
//calculate rem and em sizes from px values

@function rem($size) {
  $remSize: $size / $base-font-size;
  @return $remSize * 1rem;
}

@function em($size) {
  $remSize: $size / $base-font-size;
  @return $remSize * 1em;
}

//get number without unit

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@function clamp($value, $min, $max) {
  @return if($value > $max, $max, if($value < $min, $min, $value));
}