%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

%clearing-block {
  width: 100%;
  clear: both;
  display: block;
  float: left;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

%relative-vertical-center {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

%absolute-vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

%absolute-center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

