html {
  font-size: 16px;
  @include media($small-screen) {
    font-size: 15px;
  }
  @include media($big-tablet) {
    font-size: 14px;
  }
  @include media($large-phone) {
    font-size: 13px;
  }
}
@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic|Pacifico|Raleway:600,700,400,300);

$thin: 100;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$heavy: 800;
$font-black: 900;

$best-sans-fonts: 'helvetica neue', 'helvetica', 'Arial', sans-serif;
$best-serif-fonts: 'Georgia', 'Palatino Linotype', 'Book Antiqua', serif;

$sans: 'Raleway', $best-sans-fonts;
$script: 'Pacifico', cursive;
$serif: 'Noto Serif', $best-serif-fonts;

strong {
  font-weight: $semibold;
}
b {
  font-weight: $bold;
}
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

%white-fonts {
  h1,h2,h3,h4,h5,p {
    color: white;
  }
}


h4,h5 {
  font-family: $serif;
}

h1 {
  @include font($sans,rem(60px),$bold,$black);
  line-height: 0.85;
}

h2 {
   @include font($sans,rem(30px),$light,$black);
}

h3 {
  @include font($serif,rem(27px),$regular,$text-body-color);
  font-style: italic;
}

blockquote {
  padding-top: $padding-xl;
  padding-bottom: $padding-l;
  margin-top: $padding-l;
  margin-bottom: $padding-l;
  position: relative;
  &:before {
    position: absolute;
    top: $padding-xs;
    width: 40%;
    height: 6px;
    background: $salmon;
    content: '';
    display: block;
  }
  &:after {
    position: absolute;
    bottom: $padding-xs;
    width: 40%;
    height: 6px;
    background: $salmon;
    content: '';
    display: block;
  }
}

h4 {
  @include font($sans,rem(21px),$semibold,$salmon);
}

h5 {
  @include font($script,rem(100px),$light,$black);
}

p {
  @include font($serif,rem(20px),$regular,$text-body-color);
  line-height: 1.8;
}

blockquote {

}