
//colors
$background: #F5F3F0;
$grey-background: #dcd8d5;
$main-color: #666666;
$text-body-color: #665f5b;
$black: #554541;


$salmon: #FF9982;
$matterhorn: #A186BE;
$blue: #80a9b7;
//borders
$border-base-radius: rem(4px);
$border-base-color: #dddddd;

//paddings
$padding-xl: rem(30px);
$padding-l: rem(20px);
$padding-base: rem(15px);
$padding-s: $padding-l/2;
$padding-xs: $padding-l/4;