
//colors
$background: #eeeeee;
$main-color: #666666;
$text-body-color: #444444;
$black: #272822;

//borders
$border-base-radius: rem(4px);
$border-base-color: #dddddd;

//paddings
$padding-base: rem(20px);