.type-hero {
  @extend %clearing-block;
  padding-bottom: $padding-xl;
  padding-top: $padding-xl;
  background: white;

  .text {
    @include col(7,0,$tablet,12,0);
    padding-top: 10%;
    h1 {
      font-size: rem(80px);
      b {
        color: $salmon;
      }
    }
  }
}
@include keyframes(left-wing-1) {
  0% {
    @include transform(rotateY(0deg) rotateZ(10deg) scale(1,1));
  }
  100% {
    @include transform(rotateY(-40deg) rotateZ(10deg) scale(1.1,1.05));
  }
}
@include keyframes(right-wing-1) {
  0% {
    @include transform(rotateY(0deg) rotateZ(10deg) scale(1,1));
  }
  100% {
    @include transform(rotateY(-30deg) rotateZ(10deg) scale(1.1,1.05));
  }
}
@include keyframes(left-wing-2) {
  0% {
    @include transform(rotateY(0deg) rotateZ(-10deg) scale(1,1));
  }
  100% {
    @include transform(rotateY(-30deg) rotateZ(-10deg) scale(1.1,1.05));
  }
}
@include keyframes(right-wing-2) {
  0% {
    @include transform(rotateY(0deg) rotateZ(-10deg) scale(1,1));
  }
  100% {
    @include transform(rotateY(-40deg) rotateZ(-10deg) scale(1.1,1.05));
  }
}
.butterfly {
  @include col(2,0,$tablet,4,0);
  padding-top: 5%;

  .left, .right {
    width: 50%;
    float: left;
  }
  .left {
    @include animation(left-wing-1 1.8s infinite alternate);
    @include transform-origin(right center);
  }
  .right {
    @include animation(right-wing-1 1.8s infinite alternate);
    @include transform-origin(left center);
  }
  &.alternate {
    .left {
      @include animation(left-wing-2 1.5s infinite alternate);
      @include transform-origin(right center);
    }
    .right {
      @include animation(right-wing-2 1.5s infinite alternate);
      @include transform-origin(left center);
    }
  }
}
.test-container {
  height: 600px;
  background: image-url('butterfly-bg.jpg');
  background-size: 150px;
  background-attachment: fixed;
}