.type-hero {
  @extend %clearing-block;
  padding-bottom: $padding-xl;
  padding-top: $padding-xl;
  background: white;

  .text {
    @include col(7,0,$tablet,12,0);
    padding-top: 10%;
    h1 {
      font-size: rem(80px);
      b {
        color: $salmon;
      }
    }
  }
}
@include keyframes(left-wing-1) {
  0% {
    @include transform(rotateY(0deg) rotateZ(10deg) scale(1,1));
  }
  100% {
    @include transform(rotateY(-40deg) rotateZ(10deg) scale(1.1,1.05));
  }
}
@include keyframes(right-wing-1) {
  0% {
    @include transform(rotateY(0deg) rotateZ(10deg) scale(1,1));
  }
  100% {
    @include transform(rotateY(-30deg) rotateZ(10deg) scale(1.1,1.05));
  }
}
@include keyframes(left-wing-2) {
  0% {
    @include transform(rotateY(0deg) rotateZ(-10deg) scale(1,1));
  }
  100% {
    @include transform(rotateY(-30deg) rotateZ(-10deg) scale(1.1,1.05));
  }
}
@include keyframes(right-wing-2) {
  0% {
    @include transform(rotateY(0deg) rotateZ(-10deg) scale(1,1));
  }
  100% {
    @include transform(rotateY(-40deg) rotateZ(-10deg) scale(1.1,1.05));
  }
}
.butterfly {
  @include col(2,0,$tablet,4,0);
  padding-top: 5%;

  .left, .right {
    width: 50%;
    float: left;
  }
  .left {
    @include animation(left-wing-1 1.8s infinite alternate);
    @include transform-origin(right center);
  }
  .right {
    @include animation(right-wing-1 1.8s infinite alternate);
    @include transform-origin(left center);
  }
  &.alternate {
    .left {
      @include animation(left-wing-2 1.5s infinite alternate);
      @include transform-origin(right center);
    }
    .right {
      @include animation(right-wing-2 1.5s infinite alternate);
      @include transform-origin(left center);
    }
  }
}

.matterhorn-container {
  @extend %clearing-block;
  position: relative;
  background-size: cover;
  overflow: hidden;
  height: 50%;

  .goat {
    opacity: 0.6;
  }
  .image {
    @include col(5,0,$phone,9,0);
    z-index: 9;
    margin-top: $padding-xl*2;
    position: relative;
    padding-top: $padding-xl;
    border: 2px solid white;
    border-radius: rem(10px);
    img {
      margin-bottom: -5px;
      border-radius: 0 0 rem(10px) rem(10px);
    }
    &:before {
      position: absolute;
      content: '○ ○ ○';
      font-size: rem(18px);
      line-height: 1;
      top: $padding-xs;
      left: $padding-xs;
      color: white;
      font-family: $sans;
      font-weight: $semibold;
    }
    &:after {
      content: 'Product Design';
      display: block;
      background: $salmon;
      width: rem(100px);
      height: rem(100px);
      position: absolute;
      top: 0px;
      right: $padding-base;
      @include transform(translateY(-50%));
      border-radius: 50%;
      padding-top: rem(50px) - rem(18px);
      line-height: 1;
      box-sizing: border-box;
      @include font($script,rem(18px),$semibold,white);
      text-align: center;
    }
  }
  .text {
    @include col(5,1,$phone,9,0);
    margin-bottom: $padding-xl*2;
    position: relative;
    border-radius: rem(20px);
    padding: $padding-xl;

    h2 {
      padding-bottom: $padding-base;
    }
    h1 {
      padding-bottom: $padding-base;
    }
    .caption {
      @include transform(translateY(-50%));

    }

  }
}