.type-hero {
  @extend %clearing-block;
  padding-bottom: $padding-xl;
  padding-top: $padding-xl;
  background: white;

  .text {
    @include col(7,0,$tablet,12,0);
    padding-top: 10%;
    h1 {
      font-size: rem(80px);
      b {
        color: $salmon;
      }
    }
  }
}
@include keyframes(left-wing-1) {
  0% {
    @include transform(rotateY(0deg) rotateZ(10deg) scale(1,1));
  }
  100% {
    @include transform(rotateY(-40deg) rotateZ(10deg) scale(1.1,1.05));
  }
}
@include keyframes(right-wing-1) {
  0% {
    @include transform(rotateY(0deg) rotateZ(10deg) scale(1,1));
  }
  100% {
    @include transform(rotateY(-30deg) rotateZ(10deg) scale(1.1,1.05));
  }
}
@include keyframes(left-wing-2) {
  0% {
    @include transform(rotateY(0deg) rotateZ(-10deg) scale(1,1));
  }
  100% {
    @include transform(rotateY(-30deg) rotateZ(-10deg) scale(1.1,1.05));
  }
}
@include keyframes(right-wing-2) {
  0% {
    @include transform(rotateY(0deg) rotateZ(-10deg) scale(1,1));
  }
  100% {
    @include transform(rotateY(-40deg) rotateZ(-10deg) scale(1.1,1.05));
  }
}
.butterfly {
  @include col(2,0,$tablet,4,0);
  padding-top: 5%;

  .left, .right {
    width: 50%;
    float: left;
  }
  .left {
    @include animation(left-wing-1 1.8s infinite alternate);
    @include transform-origin(right center);
  }
  .right {
    @include animation(right-wing-1 1.8s infinite alternate);
    @include transform-origin(left center);
  }
  &.alternate {
    .left {
      @include animation(left-wing-2 1.5s infinite alternate);
      @include transform-origin(right center);
    }
    .right {
      @include animation(right-wing-2 1.5s infinite alternate);
      @include transform-origin(left center);
    }
  }
}
%left-text-container {
  @extend %clearing-block;
  position: relative;
  overflow: hidden;
  padding-top: $padding-xl;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid $border-base-color;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 50%;
    z-index: -1;
  }
  .main-caption {
    @include col(5,1,$phone,9,0);
    
    p {
      padding-bottom: $padding-base;
    }
  }
  .image-container {
    margin-top: $padding-xl;
    margin-left: $padding-xl;
    padding-top: $padding-xl;
    position: relative;
    @include col(6,0,$phone,9,0); 
    @include omega();
  }
  .ghost-button {
    @include button($salmon, $background, $salmon, white);
  }
  .button {
    @include button($background, $salmon, $salmon, white);
  }
}

.matterhorn-container {
  @extend %left-text-container;
  &:before {
    width: 50%;
    background: image-url('goat.svg');
    background-size: 100%;
    background-position: 0% 200px;
    background-repeat: no-repeat;
  }
  .image-container {
    border: 2px solid $salmon;
    border-radius: rem(10px);
    img {
      margin-bottom: -5px;
      border-top: 2px solid $salmon;
      border-radius: 0 0 rem(10px) rem(10px);
    }
    &:before {
      position: absolute;
      content: '○ ○ ○';
      font-size: rem(18px);
      line-height: 1;
      top: $padding-xs;
      left: $padding-xs;
      color: $salmon;
      font-family: $sans;
      font-weight: $semibold;
    }

    &:after {
      content: 'Product Design';
      display: block;
      background: $salmon;
      width: rem(100px);
      height: rem(100px);
      position: absolute;
      top: 0px;
      right: $padding-base;
      @include transform(translateY(-50%));
      border-radius: 50%;
      padding-top: rem(50px) - rem(18px);
      line-height: 1;
      box-sizing: border-box;
      @include font($script,rem(18px),$semibold,white);
      text-align: center;
    }
  }
  
}

.white-about-container {
  background: white;
  @extend %clearing-block;
  padding: $padding-xl 0;
}
.about-intro {
  @include col(8,2,$phone,9,0);
}