input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  font-weight: bold;
  margin-bottom: $padding-base / 4;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}
textarea {
  resize: vertical;
}
textarea,
#{$all-text-inputs} {
  @include box-sizing(border-box);
  @include transition(border-color);
  background-color: white;
  border-radius: $form-border-radius;
  border: 1px solid $form-border-color;
  box-shadow: $form-box-shadow;
  font-family: $form-font-family;
  font-size: $form-font-size;
  margin-bottom: $padding-base / 2;
  padding: $padding-base/4 ;
  height: $input-base-height;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}
input[type="text"] {
  @include appearance(none);
  height: $input-base-height;
  padding: 7px;
}
input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $padding-base / 4;
}
input[type="date"] {
  height: $input-base-height;
  padding: $padding-base/4 ;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="file"] {
  width: 100%;
}

select {
  width: auto;
  margin-bottom: $padding-base;
}
